.idea/artifacts
.idea/copyright
.idea/libraries
.idea/scopes
.idea/.name
.idea/*.ids
.idea/*.xml
.gradle/
core/build
*.iml
out
ShutUpAndroid/local.properties
ShutupAndroid/bin/
ShutupAndroid/gen/
ShutupAndroid/build/
