body {
  padding-top: 40px;
  padding-bottom: 40px;
}

html, body{
  height: 100%;
}

#title {
  text-align: center;
  font-size: 80px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-fluid{
  margin: 10px;
  border-style: solid;
  background-color: #eee;
  padding: 50px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 25px;
}

.not-bored {
  background: green;
}
.bored {
  background: red;
}

.shutup-progress {
  height: 10%;
}

div.success {
  font-family: "Comic Sans MS", serif;
  font-size: 100pt;
  color: green;
}

div.info {
  font-family: "Comic Sans MS", serif;
  font-size: 50pt;
  color: blue;
}

div.warning {
  font-family: "Comic Sans MS", serif;
  font-size: 50pt;
  color: orange;
}

div.danger {
  font-family: "Comic Sans MS", serif;
  font-size: 80pt;
  color: red;
}